:root {
  --primary-color: #94b49f;
  --secondary-color: #CEE5D0;
  --additnal-accent-color: #FCF8E8;
  --primary-font-color: #FCF8E8;
  --headings-font-family: "Coustard-Regular", Times, serif;
}

@font-face {
  font-family: Coustard-Regular;
  src: url(/src/font/Coustard-Regular.ttf);
}

#footer {
  height: 50px;
  background-color: var(--additnal-accent-color);
}

#introduction {
  background-color: var(--primary-color);
}

#introduction h1 {
  font-size: 66px;
  color: var(--primary-font-color);
  font-family: var(--headings-font-family);
}

.btn {
  border-radius: 4px;
  font-size: 18px;
  padding: 12px 20px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.btn:hover {
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
}