:root {
  --primary-color: #94b49f;
  --secondary-color: #cee5d0;
  --additnal-accent-color: #fcf8e8;
  --primary-font-color: #fcf8e8;
  --secondary-font-color: #0d335d;
  --headings-font-family: "Coustard-Regular", Times, serif;
  --boxshadow-images: 10px 10px 8px rgba(0, 0, 0, 0.2);
  --boxshadow-buttons: 6px 6px 11px rgba(0, 0, 0, 0.2);
}

/* @media only screen and (min-width: 200px) {
  html {
    zoom: 0.7;
  }
}

@media only screen and (min-width: 300px) {
  html {
    zoom: 0.7;
  }
}

@media only screen and (min-width: 400px) {
  html {
    zoom: 0.7;
  }
}

@media only screen and (min-width: 500px) {
  html {
    zoom: 0.7;
  }
}

@media only screen and (min-width: 600px) {
  html {
    zoom: 0.8;
  }
}

@media only screen and (min-width: 800px) {
  html {
    zoom: 0.9;
  }
}

@media only screen and (min-width: 1000px) {
  html {
    zoom: 1;
  }
} */

@font-face {
  font-family: Coustard-Regular;
  src: url(/src/font/Coustard-Regular.ttf);
}

a {
  text-decoration: none;
  color: var(--secondary-font-color);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

footer p {
  font-size: 0.9rem;
}

h3 a:hover {
  text-decoration: underline;
  color: var(--secondary-font-color);
}

#connect-header {
  font-size: 50px;
  font-family: var(--headings-font-family);
  color: var(--primary-color);
}

#footer {
  height: 2rem;
  background-color: var(--additnal-accent-color);
  font-size: 1.2em;
}

#header-text {
  font-size: 60px;
  color: var(--primary-font-color);
  font-family: var(--headings-font-family);
}

#home-blog-image {
  max-height: 18rem;
}

#introduction,
#header-div {
  background-color: var(--primary-color);
}

#proof-of-work-screenshot {
  max-height: 18rem;
}

.lets-connect {
  font-family: var(--headings-font-family);
  text-align: center;
  color: var(--primary-color);
  font-size: smaller;
}
.thanks {
  font-family: var(--headings-font-family);
}

/* contact Page Buttons */
.myButton {
  box-shadow: 0px 10px 14px -7px #94b49f;
  background: linear-gradient(to bottom, #94b49f 5%, #cee5d0 100%);
  background-color: #94b49f;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  font-weight: bold;
  padding: 18px 33px;
  text-decoration: none;
}
.myButton:hover {
  background: linear-gradient(to bottom, #cee5d0 5%, #94b49f 100%);
  background-color: #cee5d0;
  color: var(--secondary-font-color);
}
.myButton:active {
  position: relative;
  top: 1px;
}
